@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300;1,400&display=swap');

.about-me {
    width: 100vw;
    height: 100vh;
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    animation: fade-in 2s;
    text-align: center;
    /* display: none; */
    animation-fill-mode: both;
}

.voltar  {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}

.voltar > p {
    font-family: 'Opens Sans', sans-serif;
    font-size: 20px;
}

#seta-voltar{
    width: 40px;
}

#title-about-me {
    margin-top: 20px;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
}

.txt-about-me {
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

@keyframes fade-in {
    from{
        display: none;
        opacity: 0;
    }
    to {
        display: block;
        opacity: 1;
    }
}