@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300;1,400&display=swap');

.about-me {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    animation: fade-in 2s;
    text-align: center;
    display: none;
    animation-fill-mode: both;
}

header {
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.voltar {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}

.inverso {
    flex-direction: row-reverse;
    padding-right: 15px;
}

.voltar>p {
    font-family: 'Opens Sans', sans-serif;
    font-size: 20px;
}

.seta-voltar {
    width: 40px;
}

#voltar-inverso {
    transform: rotate(180deg);
}

#title-about-me {
    margin-top: 20px;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
}

.projects {
    display: none;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    animation: fade-in 1s;
    animation-fill-mode: both;
    z-index: 1;
}

.voltarProject {
    align-items: center;
    justify-self: start;
}

.txt-about-me {
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.title {
    font-family: "Lato";
    align-self: center;
}

#works {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    flex-wrap: wrap;
    align-self: center;
    padding-bottom: 20px;
}

#videos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 20px;
    align-self: center;
}

.card {
    align-self: center;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .8);
    padding: 10px;
    width: 300px;
}

hr {
    margin: 5px;
}

.card a {
    display: flex;
    flex-direction: column;
    color: black;
    gap: 1rem;
    text-align: center;
    text-decoration: none;
    justify-content: space-around;
    font-family: "Lato";
}

.btnProjs {
    padding: 5px;
    border-radius: 100px;
    animation: piscar 3s infinite;
}

.projetoTitulo {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

.curriculum {
    display: none;
    flex-direction: column;
}

.curriculum .content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
}

.curriculum .content .card {
    display: flex;
    flex-direction: column;
}

.txt-card {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

@keyframes fade-in {
    from {
        display: none;
        opacity: 0;
    }

    to {
        display: block;
        opacity: 1;
    }
}

@media (max-width: 610px) {
    * {
        margin: 0;
        padding: 0;
    }

    header {
        padding-bottom: 20px;
    }

    .voltar p {
        font-size: 17px;
    }

    .voltar {
        gap: .5rem;
        margin-top: 10px;
    }

    .seta-voltar {
        width: 30px;
    }

    .title {
        font-size: 25px;
    }

    .projetoImagem {
        width: 250px;
        align-self: center;
    }

    #title-about-me {
        padding-left: 20px;
        padding-right: 20px;
    }

    .projetoDescricao {
        font-size: 17px;
    }

    .curriculum .content {
        flex-direction: column;
    }
}