@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    margin: 0; padding: 0;
    box-sizing: border-box;
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to top,#732020,#202373);
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: white;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 2px white;
    animation: twinkle 3s linear infinite;
    z-index: -1;
}

@keyframes twinkle {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}

.fadeIn{
    animation: fade-in 1s ease-in
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}