main {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
}

img {
    border-radius: 10px;
}

.card {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.txt {
    font: normal 20px Arial;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}